[submodule "functions/completions"]
	path = functions/completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-history-substring-search"]
	path = zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "functions/docker-zsh-completion"]
	path = functions/docker-zsh-completion
	url = https://github.com/felixr/docker-zsh-completion.git
